*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
}

.header{
    /* height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative; */
}

.header nav ul li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

nav {
    margin-left: 80%;
}
.nav-links{
    padding: 28px 10px;
    font-size: 14px;
}

.nav-links li{
    display: inline-block;
}

.nav-links li a{
    text-decoration: none;
    color: #000;
    padding: 3px 0;
    margin: 0 10px;
    position: relative;
    bottom: 15px;

}

.nav-links li a:hover {
    text-decoration: underline;
}

.content{
    text-align: center;
}

.content form{
    background: #fff;
    padding: 5px;
    border-radius: 8px;
}

.content form input{
    border: solid 1px rgb(219, 214, 214);
    border-radius: 50px;
    outline: none;
    font-size: 14px;
    width: 40%;
    padding: 13px;
    font-size: 18px;
    padding-left: 80px;
}

.content form button {
    margin-top: 15px;
    margin-left: 8px;
    background-color: rgb(248, 245, 245);
    border: none;
    padding: 10px;
    cursor: pointer;

}

.content form button:hover {
    border: solid 1px rgb(219, 214, 214);
    border-radius: 5px;
}

.content form .fa{
    color: rgb(189, 183, 183);
    position: absolute;
    left: 30%;
    top: 34%;
}




